<h1>Order Details <%= @order.id %></h1>

<p>
  <strong>Total Order Price:</strong>
  <%= number_to_currency(@order.price) %>
</p>

<p>
  <strong>Total Profit Margin:</strong>
  <%= number_to_currency(@order.total_profit_margin) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.state %>
</p>

<h2>Products in this order:</h2>
<ul>
  <% @order.products.each do |product| %>
    <li>
      <%= product.name %> - Price: <%= number_to_currency(product.price) %>
    </li>
  <% end %>
</ul>

<h2>Total Supplies Needed for the Order:</h2>
<ul>
  <% @order.total_supplies_needed.each do |supply, total_needed| %>
    <li>
      <%= supply.name %> - Total Needed: <%= total_needed %>, Stock: <%= supply.stock %>
      (<%= total_needed > supply.stock ? "Needs Restocking" : "Sufficient" %>)
      - Total Cost: <%= number_to_currency(supply.cost * total_needed/supply.requires) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit Order', edit_order_path(@order), class: 'btn btn-dark' %>
<%= link_to 'Back to Orders', orders_path, class: 'btn btn-dark' %>
