<h1 class="text-center">Editing supply <%= @supply.id %> for <%= @business.name %></h1>

<%= form_with model: @supply, url: supply_path(@supply), method: :patch, local: true do |form| %>
  <div class="form-group">
    <%= form.label :name, "Supply Name" %>
    <%= form.text_field :name, class: "form-control mb-3", value: @supply.name %>
  </div>

  <div class="form-group">
    <%= form.label :tipo1, "Type" %>
    <%= form.text_field :tipo1, class: "form-control mb-3", value: @supply.tipo1 %>
  </div>

  <div class="form-group">
    <%= form.label :tipo2, "Color" %>
    <%= form.text_field :tipo2, class: "form-control mb-3", value: @supply.tipo2 %>
  </div>

  <div class="form-group">
    <%= form.label :tipo3, "Size" %>
    <%= form.select :tipo3, options_for_select(['None','XS', 'S', 'M', 'L', 'XL', 'XXL']), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cost, "Cost" %>
    <%= form.number_field :cost, class: "form-control mb-3", value: @supply.cost %>
  </div>

  <div class="form-group">
    <%= form.label :stock, "Stock" %>
    <%= form.number_field :stock, class: "form-control mb-3", value: @supply.stock %>
  </div>

  <div class="form-group">
    <%= form.label :requires, "Requires" %>
    <%= form.number_field :requires, class: "form-control mb-3", value: @supply.requires %>
  </div>

  <%= form.submit "Update supply", class: "btn btn-dark" %>
<% end %>
