<style>
  .inline-btn {
    display: inline-block;
  }
</style>

<h1 class="text-center">Stocks for supplies of <%= @business.name %></h1>

<br />

<div class="d-flex justify-content-center">
  <%= link_to 'Create new Supply', new_supply_path, class: 'btn btn-dark' %>
</div>

<br />

<table class="table table-bordered w-75 mx-auto">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Color</th>
      <th>Size</th>
      <th>Stock</th>
      <th>Cost</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @supplies.each do |supply| %>
      <tr>
        <td><%= supply.id %></td>
        <td><%= supply.name %></td>
        <td><%= supply.tipo1 || "No type declared." %></td>
        <td><%= supply.tipo2 || "No type declared." %></td>
        <td><%= supply.tipo3 || "No type declared." %></td>
        <td><%= supply.stock %></td>
        <td><%= supply.cost %></td>
        <td>
          <div class="d-flex gap-3">
            <%= link_to 'View', supply_path(supply), class: 'btn btn-dark inline-btn' %>
            <%= link_to 'Edit', edit_supply_path(supply), class: 'btn btn-secondary inline-btn' %>
            <div class='d-inline-block'>
              <%= button_to 'Delete', supply_path(supply), method: 'delete', data: { confirm: '¿Are you sure you want to delete this supply?' }, class: 'btn btn-danger' %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
