<h1 class="text-center">Products created for <%= @business.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Supplies</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td>
          <ul>
            <% @supply_lists.each do |supply_list| %>
            <% if supply_list.product_id == product.id %>
                <% supply_list.supplies.each do |supply| %>
                <li><%= supply.name %></li>
                 <% end %>
              <% end %>
            <% end %>
          </ul>
        </td>
        <td><%= product.price %></td>
        <td>
          <button class="btn btn-dark">View</button>
          <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-dark' %> <!-- Enlace agregado -->
          <div class='d-inline-block'>
            <%= button_to 'Delete', product_path(product), method: 'delete', class: 'btn btn-dark' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create new Product', new_product_path, class: 'btn btn-dark' %> <!-- Enlace agregado -->
