<h1 class="text-center">Products created for <%= @business.name %></h1>

<br />

<div class="d-flex justify-content-center">
  <%= link_to 'Create new Product', new_product_path, class: 'btn btn-dark' %>
</div>

<br />

<table class="table table-bordered w-75 mx-auto">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Supplies</th>
      <th>Price</th>
      <th>Profit Margin</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td>
          <ul>
            <% @supply_lists.each do |supply_list| %>
              <% if supply_list.product_id == product.id %>
                <% supply_list.supplies.each do |supply| %>
                  <li><%= supply.name %></li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </td>
        <td><%= product.price %></td>
        <td><%= product.profit_margin %></td>
        <td>
          <div class="d-flex gap-3">
            <%= link_to 'View', product_path(product), class: 'btn btn-dark' %>
            <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-secondary' %>
            <div class='d-inline-block'>
              <%= button_to 'Delete', product_path(product), method: 'delete', class: 'btn btn-danger' %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
